[submodule "VersaLib/vendor/spdlog"]
	path = VersaLib/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "VersaLib/vendor/glfw"]
	path = VersaLib/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "VersaLib/vendor/imgui"]
	path = VersaLib/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "VersaLib/vendor/glm"]
	path = VersaLib/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "VersaLib/vendor/yaml"]
	path = VersaLib/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
