[submodule "VersaLib/vendor/spdlog"]
	path = VersaLib/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "VersaLib/vendor/glfw"]
	path = VersaLib/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "VersaLib/vendor/imgui"]
	path = VersaLib/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "VersaLib/vendor/glm"]
	path = VersaLib/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "VersaLib/vendor/yaml-cpp"]
	path = VersaLib/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "VersaLib/vendor/ImGuizmo"]
	path = VersaLib/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "VersaLib/vendor/shaderc"]
	path = VersaLib/vendor/shaderc
	url = https://github.com/google/shaderc.git
[submodule "VersaLib/vendor/SPIRV_Cross"]
	path = VersaLib/vendor/SPIRV_Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "VersaLib/vendor/Vulkan"]
	path = VersaLib/vendor/Vulkan
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
